
  .contenido {
    
     margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 100px px;  /* Añade espacio alrededor del contenido */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo del contenido con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el contenido */
  }
  
  

  div {
   
    color: white; /* Color del texto */
    
    
    text-decoration: none; /* Sin subrayado */
    /*display: inline-block; /* Mostrar como bloque en línea */
    /*font-size: 16px; /* Tamaño de fuente */
   /* margin: 4px 2px; /* Margen */
    /*cursor: pointer; /* Cambiar el cursor a un puntero al pasar el ratón */
    /*border-radius: 10px; /* Borde redondeado */
  }
  
  #miBoton {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Borde transparente */
    color: white; /* Color del texto */
    /*padding: 5px 30px; /* Espacio alrededor del texto */
    /*text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar el cursor a un puntero al pasar el ratón */
    border-radius: 10px; /* Borde redondeado */
  }
  
  #miBoton:active {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semi-transparente al hacer clic */
  }

  
  
  
  
 
  
  